<% content_for :title do %>Puppet DB<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="node_count" data-view="Number" data-title="Node Count" data-moreinfo="" data-prefix=""></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="changed_count" data-view="Number" data-title="Changed Nodes" data-moreinfo="" data-prefix="" style="background-color:#ff9618"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="failed_count" data-view="Number" data-title="Failed Nodes" data-moreinfo="" data-prefix="" style="background-color:#dc5945"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="unreported_count" data-view="Number" data-title="Unreported Nodes" data-moreinfo="" data-prefix="" style="background-color:#4b4b4b"></div>
    </li>
</div>
